
Plugins>IFJ Tools, "Slices Correction", io.github.kildot.ifjTools.Slices_Correction
Plugins>IFJ Tools, "Slices Multiply", io.github.kildot.ifjTools.Slices_Mul
Plugins>IFJ Tools, "Reset colors balance", io.github.kildot.ifjTools.Colors_Move
Plugins>IFJ Tools, "Stack to CSV", io.github.kildot.ifjTools.Stack_CSV
Plugins>IFJ Tools, "Points Generator", io.github.kildot.ifjTools.Points_Generator
Plugins>IFJ Tools, "Online help", io.github.kildot.ifjTools.Help_Link
